$blue: #5d95e8;
$indigo: #916fc8;
$purple: #5d3b9c;
$pink: #ab4578;
$red: #fa2f44;
$orange: #ffa053;
$yellow: #ffdf7e;
$green: #4fe49e;
$teal: #9fffe2;
$cyan: #8eecff;
$primary-bg: #010100;
$secondary-bg: #111111;
$primary-text: #d1d5db;
$secondary-text: #33353a;
$border-color: #9ca3af;
$not-active-text: #d1d5db48;
$gradient: linear-gradient(to right, #e6a4fd, #fff59f);

$font-sizes: (
  "xxxs": 0.5rem,
  "xxs": 0.625rem,
  "xs": 0.75rem,
  "sm": 0.875rem,
  "base": 1rem,
  "lg": 1.125rem,
  "xl": 1.25rem,
  "2xl": 1.5rem,
  "3xl": 1.875rem,
  "4xl": 2.25rem,
  "5xl": 3rem,
  "6xl": 4rem,
);
