@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap";

body {
  background-color: $primary-bg;
  color: $primary-text;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
    cursor: pointer;
  }
}

.navbar-brand img {
  height: 50px;

  @include media-breakpoint-up(md) {
    height: 80px;
  }
}

.bar-icon {
  height: 25px;
}

.bar-img {
  height: 45px;
}

.sidebar-link {
  &:hover {
    div {
      text-decoration: underline;
      text-underline-offset: 2px;
    }
  }
}

// To hide the scrollbar
.slider-section .d-flex.overflow-auto::-webkit-scrollbar {
  display: none;
}

.slider-section .d-flex.overflow-auto {
  scrollbar-width: none; /* Firefox */
}

.secondary-bg {
  background-color: $secondary-bg;
}

.max-w-md {
  max-width: 45rem;
  margin: 0 auto;
}

.login-header {
  font-size: 1.6rem;
  font-weight: 300;
}

.login-form {
  height: 50px;
  border: 1px solid $border-color;
  transition: all 0.2s ease-in-out;
  outline: none;
  color: #fff;

  &:hover,
  &:focus {
    border-color: #fff;
  }
}

.tab-link {
  &:hover {
    color: #fff;
  }

  &.active {
    background-image: $gradient;
    color: #000;
  }
}

.toggle-password {
  right: 1em;
}

.follow-btn {
  background-image: $gradient;
}

.sidebar {
  padding-top: 180px;
  height: 600px;
}

/* Hide all tab content initially */
.tab-pane {
  display: none;
}

.tab-link {
  color: inherit;

  &:hover {
    text-decoration: none;
  }
}

.tab-link.active {
  background-image: $gradient;
}

.user-img {
  height: 50px;
  width: 50px;
  object-fit: cover;
}

// Modals
.modal-content {
  background-color: $card;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.search-input {
  background-color: $card;
  outline: none;
  border: 1px solid $border-color;

  &::placeholder {
    color: $not-active-text;
  }

  &:focus {
    background-color: darken($card, 10%);
    border: 1px solid $border-color;
    box-shadow: none;
    color: $primary-text;
  }

  &:placeholder-shown {
    // padding-left: 1.5rem;
  }
}

.search-button {
  right: 0;

  img {
    height: 20px;
    opacity: 0.5;
  }
}

.search-res {
  color: $primary-text;
}

.close {
  color: $not-active-text;
}

input {
  &::placeholder {
    color: $not-active-text;
  }
}

input::file-selector-button {
  background-color: $card !important;
  color: $not-active-text !important;

  &:active {
    background-color: darken($card, 15%); // Even darker on click
  }
}
